:root {
  scroll-behavior: smooth;
}

#carouselOffers {
  min-height: 500px;
}

#carouselOffers img {
  max-height: 450px;
}

.intro {
  max-width: 400px;
  margin-top: 150px;
  text-align: center;
}
.card {
  height: 100%;
}

.alert {
  position: fixed;
  top: 50px;
  width: 50%;
  left: 25%;
  z-index: 1051;
}

.btn {
  padding: 0.75rem 0.7rem;
}

.flex-sm-fill:hover {
  color: #ffffff;
  background-color: #593196;
  cursor: pointer;
}

@media (max-width: 770px) {
  #about-us .card-text .card-title {
    font-size: 0.65rem;
    text-transform: none;
  }
}

@media (max-width: 770px) {
  #about-us .card-title {
    font-size: 0.65rem;
    text-transform: none;
  }
}

#about-us .card-title {
  text-shadow: 1px 1px 1px black;
}

#about-us .card-text {
  text-shadow: 1px 1px 1px black;
}

.facebook {
  text-shadow: 1px 1px 1px white;
}
